body {
    overflow: hidden;
    font-weight: 300;
    color: #111B54;
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif;
}

.menu a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #a782de;
    text-shadow: 1px 1px #717981;
}

#logo img {
    animation: girar-logo infinite 10s linear;
}

@keyframes girar-logo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bg-style-primary {
    background-color: #111B54;
}

.bg-mix {
    background: linear-gradient(180deg, white 50%, rgb(212, 211, 211) 0);
}

.bg-gray {
    background: rgb(212, 211, 211);
}

#logo {
    max-width: 30px;
    margin-left: 5px;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #111B54;
}

    #sidebar-container .logo {
        padding: .875rem 1.25rem;
    }

    #sidebar-container .menu {
        width: 12rem;
    }

.btn-search {
    right: 5px;
}

.avatar {
    max-width: 35px;
    max-height: 35px;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

