@{
    ViewData["Title"] = "Home Page";
}

<div class="overflow-auto">

    <section>
        <div class="container mt-3">
            <div class="row">
                <div class="div col-lg-9">
                    <h1>Andrey Molina</h1>
                    <p class="text-muted">Dotnet software developer by passion</p>
                </div>
                <div class="col-lg-3 align-self-center">
                    <button class="btn btn-primary w-100">Curriculum <i class="bi bi-file-earmark-pdf-fill text-light"></i></button>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-mix">
        <div class="container d-flex-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row w-100 justify-content-evenly">
                        <div class="col-lg-3 text-center">
                            <h6 class="text-muted">Work with VS Community</h6>
                            <h3 class="text-dark">VS Community or VS Code</h3>
                            <h6 class="text-warning">SKILL RATING: 80.50%</h6>
                        </div>
                        <div class="col-lg-3 text-center">
                            <h6 class="text-muted">Front-End Languages & tools</h6>
                            <h3 class="text-dark">Css HTML5 JS / 10% Angular JS</h3>
                            <h6 class="text-warning">90.50%</h6>
                        </div>
                        <div class="col-lg-3 text-center">
                            <h6 class="text-muted">Back-End Languages & Tools</h6>
                            <h3 class="text-dark">EntityFramework C#</h3>
                            <h6 class="text-warning">70.50%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mt-4">
                        <div class="card-header">
                            <i class="bi bi-boxes"></i> <strong> Desarrollo de microservicios</strong> Arquitectura Design Driven Domain
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Actualmente con Dotnet-Group Freelancers</h5>
                            <p class="card-text">
                                Blog Microservice Web API en proceso de desarrollo + Microservicio Cines y peliculas en cartelera con Geolocalización para ubicar cines más cercanos.
                                eCommerce Services. Tecnologías utilizadas. .Net 5, PostgreSql-MongoDb y SqlServer, EntityFramework Heroku y Docker
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mt-4">
                        <div class="card-header">
                           SCRUM 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Metodología de trabajo</h5>
                            <p class="card-text">Para el desarrollo de microservicios estamos usando en el grupo la metodología Scrum, con Daily Meeting.</p>
                            <a href="#" class="btn btn-warning"><i class="bi bi-collection-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="bg-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card my-4">
                        <div class="card-header">
                            <i class="bi bi-calculator"></i> Control de asistencia: <strong>WorkZone Chile</strong>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Desarrollado en 2021</h5>
                            <p class="card-text">
                               Trabajé en el Front-End, HTML5+Bootstrap Css y JavaScript, conectando todas las funcionalidades del Back-End.
                            </p>
                            <a href="#" class="btn btn-primary">Probar App!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card my-4">
                        <div class="card-header">
                            <i class="bi bi-calculator"></i> Calculadora valor de autos usados: <strong>Derco Center Huechuraba</strong>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Desarrollado en 2020</h5>
                            <p class="card-text">
                               Desarrollo de App web para calcular el valor de un vehículo usado según parámetros estipulados por la empresa.
                            </p>
                            <a href="#" class="btn btn-primary">Probar App!</a>
                        </div>
                    </div>
                </div>
             </div>

             <div class="row">

                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="bi bi-calculator"></i> Sistema de control de asistencias guardias: <strong>Simaprotect</strong>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Desarrollado entre 2017 y 2018</h5>
                            <p class="card-text">
                               Aplicación web desarrollada en .Net 5, Módulo de control de turnos y asistencias con localización GPS + GeometryFactory.
                            </p>
                            <a href="#" class="btn btn-primary">Saber más!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="bi bi-person-bounding-box"></i> Sistema de control de asistencias guardias: <strong>Simaprotect</strong>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Desarrollado en 2017</h5>
                            <p class="card-text">Aplicación web desarrollada en .Net 5, Módulo de control de turnos y asistencias con localización GPS + GeometryFactory.</p>
                            <a href="#" class="btn btn-primary">Saber más</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-header">
                            Arquitectura Design Driven Domain
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Desarrollo de Web APIs Clean code</h5>
                            <p class="card-text">
                                Blog Microservice Web API en proceso de desarrollo + Microservicio Cines y peliculas en cartelera con Geolocalización para ubicar cines más cercanos.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">
                           SCRUM 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Metodología de trabajo</h5>
                            <p class="card-text">Para el desarrollo de microservicios estamos usando en el grupo la metodología Scrum, con Daily Meeting.</p>
                            <a href="#" class="btn btn-warning"><i class="bi bi-collection-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

